.bordeGreen{
		border-left: 4px solid rgb(0, 255, 21);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		margin: 5px 15px 2px;
		padding: 1px 12px;
}
.bordeTurquesa{
		border-left: 4px solid rgb(17, 215, 255);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		margin: 5px 15px 2px;
		padding: 1px 12px;
}
.bgE{
	background-color: #eee;
}
.updatedConfirm{
		/*border-left-color: #08fb79;*/
		background-color: rgba(30, 213, 45, 0.25);
		border-left: 4px solid rgb(0, 255, 21);
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		margin: 5px 15px 2px;
		padding: 1px 12px;
}
.j899_loader{
		width: 100vw;
	    height: 100%;
	    position: absolute;
	    display: flex;
	    background-color: rgba(0,0,0,0.5);
	    right: 0;
	    z-index: 10000;
}

.loader-internal{
  border: 7px solid #d4d4d4;
  border-top: 7px solid #3498db;
  border-bottom: 7px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1.5s linear infinite;
  position: absolute; /* cambiamos de fixed a absolute */
  /* Ponemos el valor de left, bottom, right y top en 0 */
  left: 0;
  bottom: 0; 
  right: 0; 
  top: 0; 
  margin: auto; /* Centramos vertical y horizontalmente */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.no_display{
	display: none;

}